<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p style=>Name: <%=appointment.user.name %></p>
    <p style=>Email: <%=appointment.user.email %></p>
    <p style=>Doctor: <%=appointment.doctor.name %></p>
    <p style=>Start Time: <%=appointment.slot.startTime %></p>
    <p style=>Status: <%=appointment.status %></p>
  </body>
</html>
